<header>
    <div class="bg-blue-500 h-16 w-screen flex">
        <div class="w-full flex space-between">
            <div class="w-full my-auto flex ml-4">
                <div class="flex justify-start">
                    <a routerLink="/weather/forecast">
                        <img src="../assets/imgs/forecast.svg" alt="logo" class="h-12 w-12" />
                    </a>
                </div>
                <div class="flex justify-center my-auto ml-3 text-white font-sans text-xl font-bold">Forecast</div>
            </div>
            <div class="flex my-auto mr-3">
                <a routerLink="/settings/general">
                    <img src="../assets/imgs/settings_white.svg" alt="logo" class="h-8 w-12" />
                </a>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>
