<div class="container mx-auto mt-16">
    <h1 class="text-2xl">{{ (selectedCity$ | async)?.name }}</h1>
    <div class="grid grid-flow-col justify-between mt-4">
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
        <div class="flex flex-col shadow-sm bg-white w-24 p-2 rounded-3xl border">
            <ng-lottie [styles]="styles" [options]="optWindy"></ng-lottie>
            <div>20º C</div>
            <div>09:00</div>
        </div>
    </div>
</div>
